body {
    background-color: darkgrey;
    color: ivory

}

header {
    text-align: center;
}

h1 {
    margin-left: 500px;
}

#logo {
    float: inline-end;
}

.topline {
    margin-top: 5px;
    border-radius: 50%;
    color: whitesmoke
}

nav {
    text-align: center;
    margin-left: 500px;
}

#fieldwall {
    width: 250px;
}

aside {
    text-align: left;
}

.content {
    text-align: center;
    float: center;
}

footer {
    text-align: center;
}
